* {
	margin: 0;
	padding: 0;
}


@font-face {
    font-family: 'bignoodletitlingregular';
    src: url('font/big_noodle_titling-webfont.eot');
    src: url('font/big_noodle_titling-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/big_noodle_titling-webfont.woff2') format('woff2'),
         url('font/big_noodle_titling-webfont.woff') format('woff'),
         url('font/big_noodle_titling-webfont.ttf') format('truetype'),
         url('font/big_noodle_titling-webfont.svg#bignoodletitlingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
background-color: #2D4059;
}


#mySketch {
	height: 250px;
    width:800px; 
	background-color: #EA5455;
    margin:auto; 
    margin-top: 30px;    
}

#work { 
    width:800px; 
    margin:auto; 

}

.exercises {
    font-family: helvetica; 
    color:#FFD460; 
    text-decoration: none;
	height: 50%;
	width: 350px;
	/*background-color: #FFD460;*/  
    font-size:1em;
    float: left;
    margin-top: 50px; 
    margin-left: 20px;
    line-height: 20px;
}


article {
    position:relative;
    font-family: helvetica; 
    color:#FFD460; 
    text-decoration: none;
	width: 750px;
    font-size:14px;
    line-height: 25px;
    padding: 30px 0px 50px 0px;
    
}

#blog { 
padding-bottom:100px;
}

p { 
padding-left: 30px;
}

ul, ol { 
padding-left: 40px;
}

h2 { 
border-bottom-style:dotted;
border-width:medium;
padding-bottom: 10px;
}


img { 
    width:750px;
    margin:30px 0px 30px 20px;

}

h1 { 
    font-size: 3em; 
    font-family: 'bignoodletitlingregular';
    padding-top:20px;
    padding-left:60px;
    padding-bottom:20px;
    color: #EA5455;
    background-color:#FFD460;
    
}


h3 {
  font-family: 'bignoodletitlingregular';
    font-size: 30px; 
    color: #FFD460; 
    padding-bottom: 20px; 
    padding-top: 15px;
    
}


	
footer {
   position:fixed;
   font-size:20px; 
   bottom:0px;
   height:50px;
   width: 100%;
   background:#F07B3F;
   text-align: center; 
   margin-top: 100px;
   padding-top: 20px;
   font-family: 'bignoodletitlingregular';
}

/*link styling*/ 
a:link {
    color:  #FFD460;
    text-decoration: none;

}

a:visited {
    color: #FFD460;
    text-decoration: none;   
}

a:hover {
    text-decoration: none;
    color: #EA5455;
}

a:active {
  color: #F07B3F;
} 

